body {
    background: url("../img/indexBackground.png");
}




#leftImg {
    position: absolute;
    top:15px;
    left: 65px;
}
#rightImg {
    position: absolute;
    top:15px;
    right: 65px;
}







#left-back {
    background: #246068;
    border-right: solid 5px #69969C;/*#012E34;*/
    float: right;
    list-style: none;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
    transition: width 1s; /* IE */
    -moz-transition: width 1s; /* Firefox 4 */
    -webkit-transition: width 1s; /* Safari and Chrome */
    -o-transition: width 1s; /* Opera */
    
    animation-name: pulse-consistent;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#left-back:hover {
    width: 200px;
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}
#left-list {
    line-height: 200%;
    opacity: 0.0;
    
    
    
}
#left-back:hover > #left-list {
    animation-name: pulse-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    -webkit-animation-name: pulse-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: .5s;
    
    
}
#left-list:hover {
    
    
    
    
       
}
#right-back {
    background: #246068;
    border-left: solid 5px #69969C;/*#012E34;*/
    float: right;
    list-style: none;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 100%;
    transition: width 1s; /* IE */
    -moz-transition: width 1s; /* Firefox 4 */
    -webkit-transition: width 1s; /* Safari and Chrome */
    -o-transition: width 1s; /* Opera */
    
    animation-name: pulse-consistent;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#right-back:hover {
    text-align: center;
    width: 200px;
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}

#right-list {
    line-height: 200%;
    
    
    
    
}
/*
#right-back:hover > #right-list {
    animation-name: pulse-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    -webkit-animation-name: pulse-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: .5s;
    
    animation-name: pulse-vis;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    -webkit-animation-name: pulse-vis;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: .5s;
    
    
}
#right-list:hover {
    
    
    
       
}
*/
#button {
   border: 3px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
#button:hover {
   border: 3px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
#button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 3px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }






#quote {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-top: 20px;
    color: #69969C;
    font-size: large;
    
    
    horizontal-align: center;
    
    
    
}


/* Name-logo */
#centerImg {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 800px;
    height: 450px;
    webkit-transition: opacity 1s ease-in-out;  /* Chrome/Safari */
    -moz-transition: opacity 1s ease-in-out;    /* Firefox */
    -o-transition: opacity 1s ease-in-out;      /* Opera */
    transition: opacity 1s ease-in-out;         /* IE */
    
    animation-name: pulse-in;
    animation-duration: 2s;
    animation-timing-function: linear;
 }

/* The animation code */
@keyframes pulse-consistent {
    0%   {opacity: .4;}
    50%  {opacity: 1;}
    100% {opacity: .4;}
}

@keyframes pulse-in {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}
@keyframes pulse-out {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

@keyframes pulse-vis {
    from {visibility: hidden;}
    to {visibility: visible;}
}

